extends layouts/_landing

block vars
    -
        page = {
            language: 'ru',
            charset: 'utf-8',
            name: 'mk landing',
            title: 'mk landing',
            appTitle: 'mk app',
            description: 'mk app description',
            main_css: 'landing.min.css'
        }

        main_menu = [
            {title:'Главная', href:'#home'},
            {title:'О нас', href:'#about'}
        ]


block header
    include partials/landing/_landing_header

block main
    .container
        .form-block(ng-controller="MainCtrl")

            .row
                textarea.form-control(ng-model="message").
                    {{message}}
            .row
                //button.btn.btn-success() Send
                button.btn.btn-info(ng-click="clearMessage()") Clear


block footer
    .container
        footer#footer

block bottom_js
    script(src="js/app.js")
