doctype html

block vars

html(lang=`${page.language}`, ng-app="landingApp")
    head
        include ../partials/landing/_landing_head

    body(ng-controller="LandingCtrl")
        block header
        block main
        block footer
        block bottom_js

