meta(charset=`${page.charset}`)
title= `${page.title}`
meta(name="description", content= `${page.description}`)
meta(name="apple-mobile-web-app-title", content= `${page.appTitle}`)

link(rel="stylesheet" href= "css/" + page.main_css)

