@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);


html,body{
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
  font-family: 'Comfortaa';
}
body{
  background-color: #314e6e;
  color: #fff;
}

a{
  color: inherit;
}

#header{
  position: relative;
  height: 130px;
  background-color: lighten(#314e6e,10%);
}